spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://swtp-sose2020.mni.thm.de/auth/realms/master/account

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest


server:
  port: 8081
  forward-headers-strategy: native

